/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
	/* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
	display: flex;
	flex-direction: column;
	font-family: var(--main-font-family, "IBM Plex mono", sans-serif);
	background-image: var(
		--main-backgound-image,
		url("../images/cover-image-dark.png")
	);
	background-color: var(--background-color, #000028);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.record {
	position: absolute;
	display: flex;
	align-items: center;
	gap: 10px;
	inset-block-start: 10px;
	inset-inline-end: 20px;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	color: var(--color-decor, #ff0070);
	font-family: var(--main-font-family, "IBM Plex mono", sans-serif);
}

@media (width>= 768px) {
	.record {
		inset-block-start: 20px;
		inset-inline-end: 30px;
	}
}

.record::after {
	content: "";
	inline-size: 9px;
	block-size: 9px;
	border-radius: 50%;
	background-color: var(--color-decor, #ff0070);
	box-shadow: 0 0 4px 6px var(--color-pure-pink-dark, #ff007040);
}

.title-decor {
	color: var(--color-text-header, #000028);
	background-color: var(--backgound-color-text, #ff0070);
}

.card-link {
	text-shadow: 2px 1px 0 var(--color-shadow-text, #ff0070);
	text-decoration: none;
	outline: none;
}

.card-link:focus-visible {
	outline: 1px solid var(--color-text-section, #f1b2ce);
}

.card-link:hover {
	text-decoration: underline var(--color-text-section, #f1b2ce);
}

.main-title {
	color: var(--color--big-title, #db00ff);
	font-size: var(--font-size-title);
	font-weight: 700;
	line-height: 95.7px;
}

.header {
	position: relative;
	display: grid;
	grid-template-rows: 1fr min-content 1fr;
	gap: 10px;
	min-block-size: 668px;
	block-size: 100vh;
	padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.header__theme-menu {
	justify-self: end;
	align-self: center;
	padding-top: 10px;
}

.header__theme-menu-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

@media (width>= 1024px) {
	.header__theme-menu {
		justify-self: center;
		align-self: start;
		padding-top: 0;
	}

	.header__theme-menu-list {
		flex-direction: row;
		flex-wrap: wrap;
	}
}

justify-self .header__theme-menu-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.header__theme-menu-button {
	display: flex;
	min-block-size: 26px;
	text-transform: lowercase;
	border: 1px solid transparent;
	padding: 0 13px;
	background-color: inherit;
	color: var(--color-text-button, #ff0070);
	font-weight: 400;
	line-height: 18px;
	outline: none;
	transition: 0.2s border-color ease-in;
	cursor: pointer;
}

.header__theme-menu-button:focus-visible {
	border-block-end: 1px solid var(--color-text-button, #ff0070);
}

@media (hover: hover) {
	.header__theme-menu-button:hover {
		border-color: var(--color-hover-button, #ff007040);
	}
}

.header__theme-menu-button_active {
	border-color: currentColor;
	pointer-events: none;
	cursor: default;
}

.header__title {
	align-self: center;
	text-shadow: 4px 4px 0 var(--color-shadow-text, #ff0070);
}

@media (width>= 768px) {
	.header__title {
		font-size: var(--font-size-big-title);
		line-height: 99px;
		margin-inline-start: -15px;
	}
}

@media (width>= 1024px) {
	.header__title {
		line-height: 129.33px;
	}
}

.header__text {
	display: flex;
	flex-direction: column;
	align-self: center;
	justify-self: end;
	font-size: 18px;
	font-weight: 700;
	line-height: 23.4px;
	max-inline-size: 355px;
}

@media (width>= 768px) {
	.header__text {
		max-inline-size: 364px;
	}
}

@media (width>= 1024px) {
	.header__text {
		max-inline-size: 491px;
	}
}

.decorated-zone::after,
.decorated-zone::before {
	content: "";
	position: absolute;
	display: block;
	inline-size: 25px;
	block-size: 25px;
}

.decorated-zone::before {
	inset-block-start: 10px;
	inset-inline-end: 10px;
	border-inline-end: 1px solid var(--color-decor, #ff0070);
	border-block-start: 1px solid var(--color-decor, #ff0070);
}

@media (width>= 768px) {
	.decorated-zone::before {
		inset-block-start: 20px;
		inset-inline-end: 20px;
	}
}

.decorated-zone::after {
	inset-block-end: 10px;
	inset-inline-start: 10px;
	border-inline-start: 1px solid var(--color-decor, #ff0070);
	border-block-end: 1px solid var(--color-decor, #ff0070);
}

@media (width>= 768px) {
	.decorated-zone::after {
		inset-block-end: 20px;
		inset-inline-start: 20px;
	}
}

.main {
	display: flex;
	flex-direction: column;
	padding-inline-start: 10px;
	padding-inline-end: 10px;
	padding-block-start: 40px;
	padding-block-end: 40px;
	row-gap: 50px;
	padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

@media (width>= 768px) {
	.main {
		row-gap: 80px;
		padding-block-start: 60px;
		padding-block-end: 60px;
	}
}

.section {
	display: grid;
	gap: 20px;
}

.section--chenge-margin {
	gap: 10px;
}

@media (width>= 768px) {
	.section--chenge-margin {
		gap: 20px;
	}
}

@media (width>= 768px) {
	.section--grid {
		grid-template-columns: 1fr 2fr;
	}
}

.section__title {
	color: var(--color-title-text, #ff0070);
	font-size: 18px;
	font-weight: 700;
	line-height: 23.4px;
}

.section__title--color {
	color: var(--color-dark-blue, #000028);
}

@media (width>= 768px) {
	.section__title--width {
		max-inline-size: 236px;
	}
}

@media (width>= 1024px) {
	.section__title--width {
		max-inline-size: 315px;
	}
}

.section__list {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

@media (width>= 1024px) {
	.section__list--grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
}

.card-text {
	display: flex;
	flex-direction: column;
}

.card-text-decor {
	color: var(--color-dark-blue, #000028);
	font-weight: 400;
	line-height: 23.4px;
	margin-block-end: 10px;
}

.card-text-decor--weight-bold {
	font-weight: 700;
	margin-block-end: 20px;
}

.card-text__title {
	font-size: 18px;
	font-weight: 700;
	line-height: 23.4px;
	margin-block-end: 10px;
}

.card-text__text {
	font-size: 18px;
	font-weight: 400;
	line-height: 23.4px;
	color: var(--color-text-section, #f1b2ce);
}

.gallery {
	display: grid;
	gap: 10px;
	grid-auto-flow: dense;
}

@media (width>= 768px) {
	.gallery {
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
	}

	.gallery__item--span {
		grid-column: span 2;
	}

	.gallery__item--row {
		grid-row: span 2;
	}
}

.gallery__image {
	width: 100%;
	height: 100%;
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	inline-size: 100%;
	min-block-size: 668px;
	block-size: 100vh;
}

.footer__title {
	text-shadow: 2px 2px 0 var(--color-shadow-text, #ff0070);
}

@media (width>= 768px) {
	.footer__title {
		font-size: var(--font-size-big-title);
		line-height: 99px;
	}
}
